// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.wrapper {
    font-family: 'Lato', sans-serif;
    max-width: 1200px;
    margin: 20px auto;
    padding: 25px 50px;
}
.title {
    text-align: center;
    margin-bottom: 25px;
}
.carousel-wrapper {
    width: 95%;
    margin: 15px auto;
}
.carousel-caption {
    background-color: rgba(255, 255, 255, 0.65) !important;
}
.welcome {
    letter-spacing: 4px;
    margin: 15px auto 20px auto;
    position: relative;
    max-width: 95%;
}
.welcome-img {
    vertical-align: middle;
    max-width: 90%;
    height: auto;
}

.welcome-title {
    position:absolute;
    left:0;
    top:50px;
    padding:12px 24px;
    opacity:0.90;
}
.welcome-title h1 {
    font-size:45px;
}

.welcome-sub {
    text-align: center;
}
.welcome-sub h2 {
    font-size:36px;
}

.about {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 80px 5px
}

.about-img {
    margin: 15px;
}

.about-text h1 {
    margin-bottom: 5px;
}

.about-text p {
    margin-left: 15px;
}

footer {
    background-color: #1e1e20;
    padding: 10px 20px;
    margin-top: 10px;
}

.footer-container {
    padding: 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

