<template>
    <div class="carousel-wrapper">
		<h3 class="text-center pb-2">Most popular foods</h3>
        <div id='indicator' class='carousel slide' data-ride='carousel'>
            <div class='carousel-inner'>
                <div v-for="(food, index) in foods" class='carousel-item' :class="{ 'active': index === 0 }" :key=food.id>
                    <img class='d-block w-100' :src="'/img/' + food.image">
                    <div class='carousel-caption d-none d-md-block bg-light text-dark'>
                        <a :href="'/foods/' + food.id "><h4 class="font-weight-bold text-primary">{{ food.name }}</h4></a>
                        <p><span class="font-weight-bold">{{ food.price }}</span> HUF</p>
                        <p><span class="font-weight-bold">{{ food.popularity }}</span> Popularity</p>
                        <a href='/foods' type='button' class='btn btn-primary'>To Foods</a>
                    </div>
                </div>
            </div>
            <a class='carousel-control-prev' href='#indicator' role='button' data-slide='prev'>
                <span class='carousel-control-prev-icon' aria-hidden='true'></span>
                <span class='sr-only'>Previous</span>
            </a>
            <a class='carousel-control-next' href='#indicator' role='button' data-slide='next'>
                <span class='carousel-control-next-icon' aria-hidden='true'></span>
                <span class='sr-only'>Next</span>
            </a>
        </div>
	</div>
</template>

<script>
export default { 
    props: [
        'foods'
    ]
}
</script>