<template>
    <div class="row">
        <div v-for="food in foodList" class="col-sm-6 col-lg-4 mb-3" :key=food.id>
            <div class="card mb-3 h-100">
                <img class='img-thumbnail img-fluid' :src="'/img/' + food.image" :alt="food.name">
                <div class="card-body d-flex flex-column justify-content-between">
                    <a :href="'/foods/' + food.id "><h5 class="card-title">{{ food.name }}</h5></a>
                    <p class="card-text">{{ food.description }}</p>
                    <div class="col-md-12 d-flex justify-content-center">
                        <div class="m-3 text-center">
                            <p class='card-text'>{{ food.price }} HUF</p>
                            <button disabled class="btn btn-primary mb-1">Add to cart</button>
                            <p class='card-text'>Popularity: {{ food.popularity }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center">
            <button v-show="hasMore" class="btn btn-primary my-4" @click="loadMore">Load more</button>
        </div>
    </div>
</template>

<script>
export default { 
    props: [
        'foods'
    ],
    data: function () {
        return {
            hasMore: true,
            foodList: []
        }
    },
    methods: {
        loadMore() {
            if (this.foods.length > 0) {
                let elements = this.foods.slice(0, 9);
                this.foodList = this.foodList.concat(elements);
                this.foods.splice(0, 9);
            }
            if (this.foods.length === 0) {
                this.hasMore = false;
            }
        }
    },
    mounted: function() {
        this.foodList = this.foods.slice(0, 9);
        this.foods.splice(0, 9);
        if (this.foodList.length <= 9 && this.foods.length === 0) {
            this.hasMore = false;
        }
    }
}

</script>
