<template>
    <div class="row">
        <div class="col-md-12 text-center my-3">
            <h2>{{ food.name }}</h2>
        </div>
        
        <div class="col-md-12 text-center">
            <img :src="'/img/' + food.image" class="img-fluid rounded mb-3 mb-md-0" :alt="food.name">
        </div>
        
        <div class="col-md-12 m-4">
            <p class="card-text">{{ food.description }}</p>
        </div>

        <div class="col-md-12 d-flex justify-content-center">
            <div class="m-3 text-center">
                <button disabled class="btn btn-primary mb-1">Add to cart</button>
                <p class='card-text'>{{ food.price }} HUF</p>
            </div>
            <div class="m-3 text-center">
                <button class="btn btn-primary mb-1" @click="favFood" v-text="buttonText"></button>
                <p class='card-text ml-3'>{{ this.popularity }} Popularity</p>
            </div>
        </div>
    </div>
</template>

<script>
export default { 
    props: {
        food: Object,
        added: Boolean
    },
    data: function () {
        return {
            status: this.added,
        popularity: this.food.popularity
        }
    },
    methods: {
        favFood() {
            axios.post('/favorites/' + this.food.id)
                .then(response => {
                    this.status = ! this.status;
                    this.status ? axios.post('/favorites/increment/' + this.food.id) : axios.post('/favorites/decrement/' + this.food.id);
                })
                .catch(errors => {
                    if (errors.response.status == 401) {
                        window.location = '/login';
                    }
                });
        }
    },
    computed: {
        buttonText() {
            return (this.status) ? 'Remove from favorites' : 'Add to favorites';
        }
    }
}
</script>
