<template>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header"> Profile </div>
                
                <div class="card-body">
                    <p>Username: {{ user.username }}</p>
                    <p>Name: {{ user.name }}</p>
                    <p>Email: {{ user.email }}</p>
                    <p>Address: {{ user.address }}</p>
                    <a :href="'/user/edit'">Edit profile</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default { 
    props: [
        'user'
    ]
}

</script>