<template>
<div class="wrapper">
    <div class="welcome">
        <img class="welcome-img" src="img/foodhood.png" alt="FoodHood" height="800">
        <div class="welcome-title"> 
            <h1>FoodHood</h1>
        </div>
        <div class="welcome-sub mb-4">
            <h2>FoodHood - Order. Best. Food.</h2>
        </div>
    </div>
    <div class="about">
        <div class="about-img">
            <img src="img/about1.png" class="" alt="About" width="500">
        </div>

        <div class="about-text">
            <h1>About FoodHood</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate autem eum rerum accusantium ducimus, praesentium officiis earum ex. Sunt, porro. Repellendus maiores et tenetur eveniet! Veniam culpa debitis voluptate reprehenderit expedita consequatur, odio inventore distinctio. Molestias, saepe sit. Beatae fugiat provident dolor nemo.</p>
        </div>
    </div>
</div>
</template>

<script>
export default { 
    props: [
        'foods'
    ]
}
</script>